@font-face {
    font-family: 'Neue Montreal Light';
    src: url('../../fonts/PPNeueMontreal-Light.woff2') format('woff2'),
        url('../../fonts/PPNeueMontreal-Light.woff') format('woff');
}
@font-face {
    font-family: 'Neue Montreal Bold';
    src: url('../../fonts/PPNeueMontreal-Bold.woff2') format('woff2'),
        url('../../fonts/PPNeueMontreal-Bold.woff') format('woff');
}

.menu {
    top: 0;
    z-index: 99;
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90dvw;
    /* margin-bottom: 5dvh; */
    padding: 2.5dvh 5dvw;
    overflow-y: none;
}
.core {
    width: 90dvw;
    display: flex;
    justify-content: space-between;
}
.logo img {
    width: 20vw;
}
.menu-btn {
    align-self: right;
}
.links {
    display: none;
    flex-direction: column;
    justify-content: end;
    gap: 5dvh;
    width: 90dvw;
}
.nav {
    display: flex;
    flex-direction: column;
    gap: 2.5dvh;
}
.navlink {
    /* opacity: 0; */
}
.nav a {
    font-family: 'Neue Montreal Light';
    text-decoration: none;
    color: white;
    font-size: 8dvw;
    border-bottom: 1px solid white;
}
.nav a.active {
    font-family: 'Neue Montreal Bold';
}
.social {
    align-self: center;
}
.link {
    text-decoration: none;
    color: white;
}
@media screen and (min-width: 768px) {
    .menu {
        width: 95dvw;
        height: auto;
        padding: 2.5dvh 2.5dvw;
        gap: 5vw;
        /* margin-bottom: 10dvh; */
        flex-wrap: nowrap;
        align-items: start;
    }
    .core {
        width: auto;
    }
    .logo {
    
    }
    .logo img {
        width: 10vw;
    }
    .menu-btn {
        display: none;
    }
    .links {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .nav {
        flex-direction: row;
        gap: 1.25vw;
    }
    .nav a {
        color: #1A1D22;
        font-size: 1.5dvw;
    }
    .social {
    
    }
    .link {
        color: #1A1D22;
    }
}